.remeras {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 600px 600px;
}

.remeras_1{
    width: auto;
    height: auto;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
 }
 
 .remeras_2{
     width: auto;
     height: auto;
     margin: 20px;
     padding: 20px;
     background-color: white;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
 }
 
 .remeras_3{
     width: auto;
     height: auto;
     margin: 20px;
     padding: 20px;
     background-color: white;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
 }
 
 .remeras_4{
     width: auto;
     height: auto;
     margin: 20px;
     padding: 20px;
     background-color: white;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
 }
 